{% for element in include.index_arr %}

<div class="index-entry index-{{ element.type }}">
      {% for i in (0..element.level) %}
        <div class="index-intend">
      {% endfor %}

      {% if element.type == "index" %}
      <a href="#" onclick="taggleMenu({{ element.name }})">{{ element.name }}</a>
      {% elsif element.type == "post" %}
        {% if page.title == element.post.title %}
          <div class="index-selected">{{ element.post.title }}</div>
        {% else %}
          <a href="{{ element.post.url }}">{{ element.post.title }}</a>
        {% endif %}
      {% endif %}

      {% for i in (0..element.level) %}
        </div>
      {% endfor %}
    </div>

{% endfor %}


<script>

  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)

  const indexMenu = document.getElementById('index_menu');
  const selected = document.getElementsByClassName("index-selected")[0];




  document.addEventListener("DOMContentLoaded", function(event) {
    var scrollpos = localStorage.getItem('menu-scroll-pos');
    console.log(scrollpos);
    if (scrollpos) indexMenu.scrollTo(0, scrollpos);

    if (selected !== undefined) {
      const topOffset = selected.getBoundingClientRect().top;
      if (topOffset < 0 || topOffset > vh) {
        indexMenu.scrollBy({left: 0, top: topOffset - vh / 3.0, behavior: "smooth"});
      }
    }

  });

  window.onbeforeunload = function(e) {
    localStorage.setItem('menu-scroll-pos', indexMenu.scrollTop );
  };

</script>
