
<!--
<div class="index-entry index-index"><a href="/">Home</a></div>
<div class="index-entry index-index"><a href="/snippets">Snippets</a></div>
<div class="index-entry index-index"><a href="https://www.goodreads.com/review/list/103708630-bin?shelf=read" target="_blank">Read</a></div>
<div class="index-entry index-index"><a href="/travel.html">Travel</a></div>
<div class="index-entry index-index"><a href="/search.html">Search</a></div>
<div class="index-entry index-index"><a href="/about.html">About</a></div>
<div class="index-entry index-index"><a href="/feed.xml" target="_blank">RSS</a></div>
-->


{% for element in include.index_arr %}

  {% for i in (0..element.level) %}
    <div class="index-intend">
  {% endfor %}

    <div class="index-entry index-{{ element.type }}">
      {% if element.type == "index" %}
      {{ element.name }}
      {% elsif element.type == "post" %}
        {% if page.title == element.post.title %}
        <div class="index-selected">{{ element.post.title }} <span class="publish-year">({{ element.post.date | date:"%Y"}})</span></div>
        {% else %}
        <a href="{{ element.post.url }}">{{ element.post.title }} <span class="publish-year">({{ element.post.date | date:"%Y"}})</span></a>
        {% endif %}
      {% endif %}

    </div>

  {% for i in (0..element.level) %}
    </div>
  {% endfor %}


{% endfor %}


<script>

  const isIndexPage = {{ include.check_refer }};

  const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
  const indexMenu = document.getElementById('index_menu') || document.getElementById('index_menu_page');


  document.addEventListener("DOMContentLoaded", function(event) {

    if (isIndexPage) {
      var targetHref = new URL(document.referrer).pathname;
      console.log(targetHref);

      document.querySelectorAll('a').forEach(function(anchorTag) {
        // Check if the href attribute matches the targetHref
        if (anchorTag.getAttribute('href') === targetHref) {
           var newDiv = document.createElement('div');
           newDiv.classList.add('index-selected');
           // Copy the content of the <a> tag to the new <div>
           newDiv.innerHTML = anchorTag.innerHTML;
           // Replace the <a> tag with the new <div> element
           anchorTag.parentNode.replaceChild(newDiv, anchorTag);
        }
      });

    }

    var selected = document.getElementsByClassName("index-selected")[0];

    if (!isIndexPage) {
      var scrollpos = localStorage.getItem('menu-scroll-pos');
      console.log(scrollpos);
      if (scrollpos) indexMenu.scrollTo(0, scrollpos);
    }

    if (selected !== undefined) {
      const topOffset = selected.getBoundingClientRect().top;
      if (topOffset < 0 || topOffset > vh) {
        if (isIndexPage) {
          scrollBy({left: 0, top: topOffset - vh / 3.0, behavior: "smooth"});
        } else {
          indexMenu.scrollBy({left: 0, top: topOffset - vh / 3.0, behavior: "smooth"});
        }
      }
    }

  });

  window.onbeforeunload = function(e) {
    if (!isIndexPage) {
      localStorage.setItem('menu-scroll-pos', indexMenu.scrollTop );
    }
  };

</script>
