
<ul>

{% for element in include.index %}

  <li class="index-{{ element.type}}">
  {% if element.type == "index" %}
    {{ element.name }}
    {% include index_page.html index=element.value %}
  {% elsif element.type == "post" %}
    <a href="{{ element.post.url }}" target="_blank">{{ element.post.title }}</a>
    <div class="description">Posted on {{ element.post.date | date_to_string }}, tagged {% for tag in element.post.tags %}<code>{{ tag }}</code>{% endfor %}</div>
  {% endif %}
  </li>
{% endfor %}
</ul>

