---
layout : default
---

<article id="post">
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.date %}
      <p id="description">Posted on {{ page.date | date_to_string }}, tagged {% for tag in page.tags %}<code>{{ tag }}</code>{% endfor %}</p>
    {% endif %}
  </header>

  {{ content }}
</article>

<footer id="post_footer">
  <table><tr>
    {% if page.previous %}
      <td id="prev"><a href="{{ page.previous.url }}">Prev: {{ page.previous.title}}</a></td>
    {% endif %}
    {% if page.next %}
      <td id="next"><a href="{{ page.next.url }}" id="next">Next: {{ page.next.title }}</a></td>
    {% endif %}
  </tr></table>
</footer>

<section id="comment">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'crazy-hot-ice'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

