---
layout: index
---
{% for post in paginator.posts %}
<div class="per_post">
  <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="description">Posted on {{ post.date | date_to_string }}, tagged {% for tag in post.tags %}<code>{{ tag }}</code>{% endfor %}</div>
</div>
{% endfor %}

<!-- Pagination links -->
<footer id="post-pagination">
  <ul>
    <li>PAGES:</li>
    <li>
      {% if paginator.page == 1 %}
       1
      {% else %}
       <a href="/">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
    <li>
      {% if count == paginator.page %}
        {{count}}
      {% else %}
        <a href="/page{{count}}/index.html">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</footer>
